#bagianKanan{
    background :#f08a8acc;
    height : 400px;
    border-radius : 25px;
    margin-top: 120px;
}
.navbar{
    background :#CE6464CC;
}
.scroll-bg{
    background :#f08a8acc;
    padding : 30px;
    border-radius : 25px;
    margin-top: 120px;
}
.scroll-div{
    width : 550px;
    background :#c75e5ecc;
    height : 350px;
    overflow : hidden;
    overflow-y: scroll;
    border-radius : 25px;
}